body {
    background-color: black;
    background-image: url(img/fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-attachment: fixed;
}

/*baneri*/
.baner {
    position: relative;
    width: 95%;
    height: 90%;
    filter: blur(10px);
    z-index: 0;
}

/*baneri text*/
.banert {
    position: relative;
    width: 95%;
    height: 85%;
    z-index: 2;
    margin-top: -10021px;
}

/*gamyofi*/
.trt {
    width: 10%;
}

/*textebi*/
h1 {
    color: blue;
}

h3 {
    color: blue;
}

h4 {
    color: blue;
}

/*angarisebis cxrili*/
.vs {
    width: 70%;
    height: 80%;
    border-color: white;
    background-color: red;
}

td {
    color: white;
}

/*tamasebis cxrili*/
.league {
    width: 70%;
    height: 100%;
    background-color: red;
    border-color: white;
}

/*zoma telefoni*/
@media (max-width: 738px) {
    iframe {
        width: 50%;
        height: 100%;
    }
}
