body {
    background-color: black;
}

.xazi {
    width: 1500px;
    height: 5px;
    background-color: red;
}

h1 {
    color: white;
}

@media (max-width: 1500px) {
    .baner {
        width: 99%;
        height: 50%;
    }

    iframe {
        width: 40%;
        height: 50%;
    }

    .xazi {
        width: 99%;
        height: 4px;
    }

    img {
        width: 70%;
        height: 60%;
    }
}

#btn {
    font-size: 20px;
    width: 200px;
    height: 90px;
    border-radius: 30%;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

#btn:hover {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    color: red;
}

#btn:active {
    background-color: black;
}

h2 {
    color: white;
}

h4 {
    color: white;
}